<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Students</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
  <body>
    <div class="ui container">
      <div class="ui center aligned grid">
        <div class="row">
            <h1 class="ui teal header" style="padding-top:25px">Grade System 2.0</h1>
        </div>
      </div>
      <div class="ui menu">
        <a class="item" href="{% url 'main:index' %}">
          <i class="home icon"></i>
          Home
        </a>
        <a class="right aligned browse item">
          <i class="user circle outline icon"></i>
          logged in as {{request.session.name}}
          <i class="dropdown icon"></i>
        </a>
        <div class="ui popup" style="top: auto; left: 1px; bottom: 69px; right: auto; width: 679px;">
          <div class="ui one column relaxed grid">
            <div class="column">
              <div class="ui link list">
                <a class="item">Update Profile</a>
                <hr>
                <a class="item" href="{% url 'users:logout' %}" method="post">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <table class="ui striped celled collapsing table">
      <thead>
        <tr><th colspan="4">
          <h3 class="ui teal header">Students</h3>
        </th></tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{student.first_name}} {{student.last_name}}</td>
          <td><a href="{% url 'main:edit_student' student_id=student.id %}"><i class="edit icon"></i></a></td>
          <td class="delete_student" id={{forloop.counter}}>
            <form class="" action="{% url 'main:remove_student' student_id=student.id %}" method="post">
              {% csrf_token %}
              <button type="submit" name="button">
                <i class="remove user icon"></i>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script type="text/javascript">

      $('.menu .browse').popup({
          inline     : true,
          hoverable  : true,
          position   : 'bottom left',
          delay: {
            show: 300,
            hide: 800
          }
        });

  </script>

  </body>
</html>
